body * {transition: all 0.3s;}
.main_wrap {min-height: 100vh;}

/* 
띠배너 : #D09677 

*/

/* 
12pt = 0.75rem
18pt = 1.125rem
241px = 1.5rem
*/

.main_wrap {}

/* 1행 띠배너============================================================================ */
.main_wrap #line_bnr_wrap {background: #D09677;}
.main_wrap #line_bnr_wrap .container {
    padding: 0 70px; height: 30px;
    display: flex; align-items: center; justify-content: space-between;
}
.main_wrap #line_bnr_wrap .container p {color: #fff; font-size: 0.75rem; font-weight: 500; text-align: center; flex-grow: 1;}
.main_wrap #line_bnr_wrap .container div {display: flex; justify-content: flex-end;}
.main_wrap #line_bnr_wrap .container div .close {}
.main_wrap #line_bnr_wrap .container div .close img {}

/* 1행 슬라이드============================================================================ */
.main_wrap #slide_wrap {height: 89vh; background: url(../images/slide001.png) no-repeat; position: relative; margin-bottom: 70px;}
.main_wrap #slide_wrap::before {
    content: ''; display: block; height: 89vh;
    background: linear-gradient(360deg,rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 50%);
}
.main_wrap #slide_wrap .container {padding: 100px 0;}
.main_wrap #slide_wrap .container .txt_wrap {
    position: absolute; left: 0; bottom: 100px; width: max-content;
    display: flex; align-items: flex-start; gap: 10px;
}
.main_wrap #slide_wrap .container .txt_wrap::before {
    content: ''; display: inline-block; height: 1px; width: 310px; margin: 9px 0;
    background: #fff;
}
.main_wrap #slide_wrap .container .txt_wrap * {color: #fff;}
.main_wrap #slide_wrap .container .txt_wrap .txt {display: flex; flex-flow: column nowrap; gap: 20px;}
.main_wrap #slide_wrap .container .txt_wrap .txt p {font-size: 1.5rem;}
.main_wrap #slide_wrap .container .txt_wrap .txt h1 {font-size: 1.875rem;}

/* 2행 메뉴============================================================================ */
.main_wrap #menu_wrap {padding: 70px 260px;}
.main_wrap #menu_wrap .container {display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center; width: 1400px;}
.main_wrap #menu_wrap .container .list {
    display: flex; flex-flow: column nowrap; align-items: center; gap: 20px;
    width: 150px; height: 189px; background: aqua;
}
.main_wrap #menu_wrap .container .list .round {
    background: #F0E8E4; width: 150px; height: 150px; border-radius: 50%; padding: 10px;
    display: flex; align-items: center; justify-content: center;
}
.main_wrap #menu_wrap .container .list .round img {display: block; width: 80px;}
.main_wrap #menu_wrap .container .list:last-of-type .round img {display: block; width: auto;}
.main_wrap #menu_wrap .container .list span {color: #000;}

/* 3행 메뉴============================================================================ */
.main_wrap #best_new {}
.main_wrap #best_new .container {padding: 70px 260px;}