body * {transition: all 0.3s; overflow: hidden;}
.main_wrap {min-height: 100vh;}

/* 
띠배너 : #D09677 

*/

/* 
12pt = 0.75rem
14pt = 0.875rem
18pt = 1.125rem
24pt = 1.5rem
32pt = 2rem
*/

.main_wrap {}

/* 1행 띠배너============================================================================ */
.main_wrap #line_bnr_wrap {background: #D09677;}
.main_wrap #line_bnr_wrap .container {
    padding: 0 70px; height: 30px;
    display: flex; align-items: center; justify-content: space-between;
}
.main_wrap #line_bnr_wrap .container p {color: #fff; font-size: 0.75rem; font-weight: 500; text-align: center; flex-grow: 1;}
.main_wrap #line_bnr_wrap .container div {display: flex; justify-content: flex-end;}
.main_wrap #line_bnr_wrap .container div .close {}
.main_wrap #line_bnr_wrap .container div .close img {}

/* 1행 슬라이드============================================================================ */
.main_wrap #slide_wrap {width: 100%; height: 89vh; position: relative; margin-bottom: 70px;}
.main_wrap #slide_wrap::before {
    content: ''; display: block; height: 89vh;
    background: linear-gradient(360deg,rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 50%);
}
.main_wrap #slide_wrap .container {}
.main_wrap #slide_wrap .container a {
    width: 100%; height: 100%;
    position: absolute; left: 0; bottom: 0;
    display: inline-block; background: url(../images/slide001.png) no-repeat center / cover;}
.main_wrap #slide_wrap .container a .txt_wrap {
    position: absolute; left: 0; bottom: 100px; width: max-content;
    display: flex; align-items: flex-start; gap: 10px;
}
.main_wrap #slide_wrap .container a .txt_wrap::before {
    content: ''; display: inline-block; height: 1px; width: 310px; margin: 9px 0;
    background: #fff;
}
.main_wrap #slide_wrap .container a .txt_wrap * {color: #fff;}
.main_wrap #slide_wrap .container a .txt_wrap .txt {display: flex; flex-flow: column nowrap; gap: 20px;}
.main_wrap #slide_wrap .container a .txt_wrap .txt span:nth-of-type(1),
.main_wrap #slide_wrap .container a .txt_wrap .txt span:nth-of-type(2) {font-size: 1.5rem;}
.main_wrap #slide_wrap .container a .txt_wrap .txt span:nth-of-type(2) {font-size: 1.875rem;}

/* 2행 메뉴============================================================================ */
.main_wrap #menu_wrap {padding: 70px 260px;}
.main_wrap #menu_wrap .container {display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center; width: 1400px;}
.main_wrap #menu_wrap .container .list {
    display: flex; flex-flow: column nowrap; align-items: center; gap: 20px;
    width: 150px; height: 189px;
}
.main_wrap #menu_wrap .container .list .round {
    background: #F0E8E4; width: 150px; height: 150px; border-radius: 50%; padding: 10px;
    display: flex; align-items: center; justify-content: center;
}
.main_wrap #menu_wrap .container .list .round img {display: block; width: 80px;}
.main_wrap #menu_wrap .container .list:last-of-type .round img {display: block; width: auto;}
.main_wrap #menu_wrap .container .list span {color: #000; font-weight: 500;}

/* 3행 베스트 뉴============================================================================ */
.main_wrap #best_new {padding: 70px 260px;}
.main_wrap #best_new .container {width: 1400px; height: max-content;}
.main_wrap #best_new .container * {color: #000;}
.main_wrap #best_new .container .top {display: flex; flex-flow: row nowrap; justify-content: space-between;}
.main_wrap #best_new .container .top h1 {font-size: 1.5rem; font-weight: 500; margin-bottom: 30px; text-transform: uppercase;}
.main_wrap #best_new .container .top p {}
.main_wrap #best_new .container .top p a {color: #B5B5B5; font-size: 0.875rem; padding: 1px; border-bottom: 1px solid #B5B5B5;}

.main_wrap #best_new .container .thumbs_list {
    display: flex; flex-flow: row nowrap; gap: 32px;
}

.main_wrap #best_new .container .thumbs_list .left {
    background: url(../images/best001.png);
    width: 698px; height: 800px;
    position: relative;
    border-radius: 20px;
}
.main_wrap #best_new .container .thumbs_list .left div {position: absolute; bottom: 45px; left: 45px;}
.main_wrap #best_new .container .thumbs_list .left div * {color: #fff;}
.main_wrap #best_new .container .thumbs_list .left div p {font-size: 1.125rem; font-weight: 500; margin-bottom: 5px;}
.main_wrap #best_new .container .thumbs_list .left div h2 {font-size: 2rem; font-weight: 600;}

.main_wrap #best_new .container .thumbs_list .right {
    display: flex; flex-flow: row wrap; align-items: center; gap: 25px;
    width: calc(100% - 698px);
}
.main_wrap #best_new .container .thumbs_list .right .product {display: flex; flex-flow: column nowrap; gap: 20px;}
.main_wrap #best_new .container .thumbs_list .right .product .img {
    background: #FBF8E7; width: 330px; height: 330px; border-radius: 20px;
    display: flex; justify-content: center; align-items: center;
}
.main_wrap #best_new .container .thumbs_list .right .product .img img {width: 200px; height: 200px;}
.main_wrap #best_new .container .thumbs_list .right .product .txt {padding: 0 20px; display: flex; flex-flow: column nowrap; gap: 7px;}
.main_wrap #best_new .container .thumbs_list .right .product .txt * {color: #000;}
.main_wrap #best_new .container .thumbs_list .right .product .txt em {padding: 1px; border-bottom: 1px solid #000; font-weight: 600; width: max-content;}
.main_wrap #best_new .container .thumbs_list .right .product .txt span {font-size: 0.875rem;}

/* 4행 광고 배너============================================================================ */
.main_wrap #ad_bnr {padding: 70px 0;}
.main_wrap #ad_bnr a {}
.main_wrap #ad_bnr a img {}

/* 5행 오리지널 성심당============================================================================ */
.main_wrap #origin_sung {padding: 70px 260px;}
.main_wrap #origin_sung .container {width: 1400px;}
.main_wrap #origin_sung .container * {color: #000;}
.main_wrap #origin_sung .container h1 {font-size: 1.5rem; font-weight: 500; margin-bottom: 30px; text-transform: uppercase;}
.main_wrap #origin_sung .container .contents {display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center; gap: 30px;}

.main_wrap #origin_sung .container .contents .collage {
    display: flex; flex-flow: column nowrap; align-items: center; justify-content: space-between; gap: 15px;
    width: calc(100% / 2);
}

.main_wrap #origin_sung .container .contents .collage .top {
    display: flex; flex-flow: column nowrap; align-items: flex-start; justify-content: space-between;
    width: 100%; height: 370px; padding: 80px 60px 60px 60px;
    border-radius: 20px;
}
.main_wrap #origin_sung .container .contents .collage1 .top {background: url(../images/origin001.png);}
.main_wrap #origin_sung .container .contents .collage2 .top {background: url(../images/origin002.png);}
.main_wrap #origin_sung .container .contents .collage .top .txt {display: flex; flex-flow: column nowrap; align-items: flex-start; justify-content: space-between; gap: 5px;}
.main_wrap #origin_sung .container .contents .collage .top .txt span {font-size: 1.125rem; font-weight: 500;}
.main_wrap #origin_sung .container .contents .collage .top .txt em {font-size: 2rem; font-weight: 600;}
.main_wrap #origin_sung .container .contents .collage .top button {padding: 10px 20px; border-radius: 5px; border: 1px solid #000;}

.main_wrap #origin_sung .container .contents .collage .bottom {
    display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center; gap: 10px;
    width: 100%;
}
.main_wrap #origin_sung .container .contents .collage .bottom .thumbs {
    display: flex; flex-flow: column nowrap; align-items: center; justify-content: space-between; gap: 20px;
    width: calc(100% / 3); 
}
.main_wrap #origin_sung .container .contents .collage .bottom .thumbs .img {
    display: flex; align-items: center; justify-content: center;
    width: 100%; height: 221px; background: #f5f5f5; border-radius: 20px;
}
.main_wrap #origin_sung .container .contents .collage .bottom .thumbs .img img {width: 120px; height: 120px;}
.main_wrap #origin_sung .container .contents .collage .bottom .thumbs .txt {width: 100%; padding: 0 20px; display: flex; flex-flow: column nowrap; gap: 5px;}
.main_wrap #origin_sung .container .contents .collage .bottom .thumbs .txt em {padding: 1px; border-bottom: 1px solid #000; font-weight: 600; width: max-content;}
.main_wrap #origin_sung .container .contents .collage .bottom .thumbs .txt span {font-size: 0.875rem;}

/* 6행 케이크 롤 탭============================================================================ */
.main_wrap #cakeroll {padding: 70px 260px;}
.main_wrap #cakeroll .container {width: 1400px;}
.main_wrap #cakeroll .container .top {text-align: center;}
.main_wrap #cakeroll .container .top button {padding: 10px 20px; border-radius: 50px; background: #F1EBE7; margin-bottom: 30px;}
.main_wrap #cakeroll .container .top #cake {margin-right: 10px;}
.main_wrap #cakeroll .container .top #roll {}

.main_wrap #cakeroll .container .bottom {
    width: 100%;
    display: flex; flex-flow: row nowrap; align-items: center; justify-content: space-between; gap: 26.67px;
}
.main_wrap #cakeroll .container .bottom .cake_list {
    width: calc(100% / 4);
    display: flex; flex-flow: column nowrap; align-items: flex-start; justify-content: space-between; gap: 20px;
}
.main_wrap #cakeroll .container .bottom .cake_list .img {
    width: 100%; height: 330px; position: relative;
    background: #f5f5f5; border-radius: 20px;
    display: flex; align-items: center; justify-content: center;
}
.main_wrap #cakeroll .container .bottom .cake_list .img span {
    position: absolute; top: 30px; left: 30px;
    border-radius: 5px; border: 1px solid #000; padding: 6px 15px;
    font-size: 0.75rem;
}
.main_wrap #cakeroll .container .bottom .cake_list .img img {width: 200px; height: 200px;}
.main_wrap #cakeroll .container .bottom .cake_list .txt {width: 100%; padding: 0 20px; display: flex; flex-flow: column nowrap; gap: 7px;}
.main_wrap #cakeroll .container .bottom .cake_list .txt em {padding: 1px; border-bottom: 1px solid #000; font-weight: 600; width: max-content;}
.main_wrap #cakeroll .container .bottom .cake_list .txt span {font-size: 0.875rem;}

/* 7행 영상 또는 이미지============================================================================ */
.main_wrap #video {padding: 70px 360px;}
.main_wrap #video .container {}
.main_wrap #video .container .video {}
.main_wrap #video .container .video iframe {}

/* 8행 배달상품============================================================================ */
.main_wrap #delivery {padding: 70px 260px;}
.main_wrap #delivery .container {width: 1400px;}
.main_wrap #delivery .container .top {display: flex; flex-flow: row nowrap; justify-content: space-between;}
.main_wrap #delivery .container .top h1 {font-size: 1.5rem; font-weight: 500; margin-bottom: 30px; text-transform: uppercase;}
.main_wrap #delivery .container .top p {}
.main_wrap #delivery .container .top p a {color: #B5B5B5; font-size: 0.875rem; padding: 1px; border-bottom: 1px solid #B5B5B5;}
.main_wrap #delivery .container .bottom {}
.main_wrap #delivery .container .bottom .product_list {
    display: flex; flex-flow: row nowrap; align-items: center; justify-content: space-between; gap: 26.67px;
}
.main_wrap #delivery .container .bottom .product_list .product {
    width: calc(100% / 4);
    display: flex; flex-flow: column nowrap; align-items: flex-start; justify-content: space-between; gap: 20px;
}
.main_wrap #delivery .container .bottom .product_list .product .img {
    width: 100%; height: 330px; position: relative;
    background: #f5f5f5; border-radius: 20px;
    display: flex; align-items: center; justify-content: center;
}
.main_wrap #delivery .container .bottom .product_list .product .img img {}
.main_wrap #delivery .container .bottom .product_list .product .txt {width: 100%; padding: 0 20px; display: flex; flex-flow: column nowrap; gap: 7px;}
.main_wrap #delivery .container .bottom .product_list .product .txt a {}
.main_wrap #delivery .container .bottom .product_list .product .txt a em {padding: 1px; border-bottom: 1px solid #000; font-weight: 600; width: max-content;}
.main_wrap #delivery .container .bottom .product_list .product .txt span {font-size: 0.875rem;}

/* 9행 브랜드 스토리============================================================================ */
.main_wrap #brand_story {padding: 70px 0px;}
.main_wrap #brand_story .container {position: relative;}
.main_wrap #brand_story .container a {}
.main_wrap #brand_story .container a img {}
.main_wrap #brand_story .container a span {
    font-size: 1.875rem; color: #fff; font-weight: 500; text-transform: uppercase;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}

/* 10행 공지사항============================================================================ */
.main_wrap #notice {padding: 50px 260px;}
.main_wrap #notice .container {
    width: 1400px;
    display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;
}
.main_wrap #notice .container .left {display: flex; align-items: center; align-items: center;}
.main_wrap #notice .container .left h1 {font-size: 1.5rem; font-weight: 500; text-transform: uppercase;}
.main_wrap #notice .container .left .btn {margin: 0 20px 0 30px; padding: 3px 0 0 0;}
.main_wrap #notice .container .left .btn button {}
.main_wrap #notice .container .left .btn button img {width: 16px;}
.main_wrap #notice .container .left .btn #prev {}
.main_wrap #notice .container .left .btn #next {}
.main_wrap #notice .container .right {}
.main_wrap #notice .container .right a {color: #B5B5B5; font-size: 0.875rem; padding: 1px; border-bottom: 1px solid #B5B5B5; display: block;}